/* LOGO */
.logo-img {
  width: 80px;
  height: 60px;
}

.logo-text {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.header-icons{
    margin-right: 60px;
    word-spacing: 10px;
}
.search-bar{
    width:700px
}

.btn-group{
    gap: 50px;
    justify-content: center;
}
.dropdown-items{
    text-decoration: none;
    color:black;
    line-height: 10px;
}

.fb-product-card{
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  transition: 0.3s;
}

.fb-product-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.fb-img-box{
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.fb-img-box img{
  width: 100%;
  height: 300px;
  object-fit: cover;   /* 🔥 IMPORTANT – image full cover */
}

.fb-card-body{
  padding: 12px;
  text-align: center;
}

.fb-card-body h6{
  margin-bottom: 5px;
  font-weight: 600;
}

.fb-card-body p{
  margin-bottom: 10px;
  font-weight: bold;
}

/* footer */
.footer {
  background: #111;
  color: #ccc;
  padding: 50px 0 20px;
}

.footer h5 {
  color: #fff;
  margin-bottom: 15px;
}

.footer p {
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ffb703;
  padding-left: 5px;
}

.social-icons a {
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ffb703;
}